<h1>Course Listing</h1>

<ul>
  <li>Code: CS 111</li>
  <li>Name: Intro to Comp Sci</li>
  <li>Description: Learn to code introduciton</li>
</ul>

<ul>
  <li>Code: CS 112</li>
  <li>Name: Intro to Comp Sci 2</li>
  <li>Description: More codez</li>
</ul>